* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', sans-serif;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
